.slider-content {
  background: url("https://github.com/ayush5718/vbookStatic.git");
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  /* background-clip: padding-box; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  width: 100vw;
  height: 100vh;
}
.slider-content-2 {
  background: url("https://i.ibb.co/8XV7vm4/slider2.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.slider-content-3 {
  background: url("https://img.freepik.com/free-vector/background-wave-pattern-design-gradient-illustrations_483537-1338.jpg?w=1060&t=st=1707739623~exp=1707740223~hmac=6952da95ebaf422f3ae8b2978d1bc143361d872143893d0d75b15d9db6d42375");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.carousel-indicators {
  opacity: 0;
}
