.slider-content {
  /* background: url("src/assets/images/slider1.png"); */
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  /* background-clip: padding-box; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  width: 1705px;
  /* height: 100vh; */
}
