.about-home {
  min-height: 50vh;
  width: 100vw;
  background-image: url("https://t3.ftcdn.net/jpg/02/04/95/58/360_F_204955889_gWA26DhvRMQNieB69qFg1YqrlZyG3Yea.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
}

.about-home h1 {
  color: #e29415;
  font-weight: 800;
  font-size: 5.5rem;
}

.about-home h2 {
  color: #fff;
  font-size: 3rem;
}
.about2-img {
  animation: floating 2s infinite ease-in-out;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
