/* .testimonials {
  position: relative;
  padding: 90px 0 60px 0;
  background: #f2f2f2;
}

.testimonials .testimonial-item {
  position: relative;
  margin: 0 15px 30px 15px;
  background: #ffffff;
}

.testimonials .testimonial-img {
  position: relative;
  background: #000000;
  overflow: hidden;
}

.testimonials .testimonial-text {
  position: relative;
  width: 100%;
  padding: 30px 15px;
  text-align: center;
  background: #ffffff;
}

.testimonials .testimonial-text h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonials .testimonial-text h4 {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.testimonials .testimonial-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
}

.testimonials .owl-dot.active {
  background-color: #4f84c4;
}

@media (max-width: 575px) {
  .testimonials .testimonial-text {
    padding: 25px;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: orange !important;
}
.slick-prev:before,
.slick-next:before {
  margin-left: -12px;
  font-size: 43px;
  color: #01adef;
}
.slick-track {
  left: 72px;
}
.slick-slide .slick-cloned {
  width: 412px;
}
.slick-list {
  margin: 60px;
  gap: 20px;
} */
/* .testimonial-item {
  background: #ffffff;
  margin: 0 10px !important; /* Adjust the margin as needed 
}
.slick-slide {
  margin: 10px;
}*/
.testimonial-section {
  /* background: url(https://cdn2.hubspot.net/hubfs/346178/Assets-Dec16/testimonial-bg.png)
    no-repeat; */
  /* background-color: #01adef; */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  table-layout: fixed;
  padding: 10px 0 10px;
}

.testimonials {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}
@media screen and (width<=720px) {
  .testimonials {
    width: 300px;
    /* padding: 30px; */
  }
}
.testimonial {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.testimonial .details span {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #161515;
  font-family: Gibson;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 21px;
  text-align: center;
}
.testimonial p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: #171718;
  font-family: Gibson;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  margin-bottom: 45px;
}
.testimonial img {
  text-align: center;
  max-width: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}
/* 
.slick-prev:before {
  width: 72px;
  height: 72px;
  background: url(//www.gobillable.com/2225413/Assets-2016/arrow-right-rollover-state.png)
    no-repeat;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 1;
  filter: grayscale(0);
  -webkit-filter: grayscale();
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transform-origin: 50% 25%;
} */

/* .slick-next:before {
  width: 72px;
  height: 72px;
  background: url(http://www.gobillable.com/2225413/Assets-2016/arrow-right-rollover-state.png)
    no-repeat;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 1;
  filter: grayscale(0);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transform-origin: 50% 25%;
} */
