.testimonials {
  position: relative;
  padding: 90px 0 60px 0;
  background: #f2f2f2;
}

.testimonials .testimonial-item {
  position: relative;
  margin: 0 15px 30px 15px;
  background: #ffffff;
}

.testimonials .testimonial-img {
  position: relative;
  background: #000000;
  overflow: hidden;
}

.testimonials .testimonial-text {
  position: relative;
  width: 100%;
  padding: 30px 15px;
  text-align: center;
  background: #ffffff;
}

.testimonials .testimonial-text h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.testimonials .testimonial-text h4 {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.testimonials .testimonial-text p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
}

.testimonials .owl-dot.active {
  background-color: #4f84c4;
}

@media (max-width: 575px) {
  .testimonials .testimonial-text {
    padding: 25px;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: orange !important;
}
.slick-prev:before,
.slick-next:before {
  margin-left: -12px;
  font-size: 43px;
  color: #f56804;
}
.slick-track {
  left: 72px;
}
.slick-slide .slick-cloned {
  width: 412px;
}
.slick-list {
  margin: 60px;
  gap: 20px;
}
