// .carousel-image{
//   margin: auto;
//   height: 700px;
//   width: 100%;
// }
// @media (max-width: 575px) {
//   .carousel-image{
//   height: 400px;
//   }
// }
// .slick-prev:before,
// .slick-next:before {
//   margin-left: -105px;
//   font-size: 50px;
//   color: #0a0a0a;
// }
// .home{
//   min-height: 100vh;
//   width: 100vw;
//   background-image: url('C:/Users/ASUS/Desktop/Vbook/static website/vbookStatic/src/assets/images/img1.jpg');
//   background-size: cover;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-flow: column;
//   text-align: center;
//   padding: 0 1rem;
//   position: relative;
//   overflow: hidden !important;
// }

// .home h1{
//   color: #fff;
//   font-size: 5.5rem;
// }

// .home h2{
//   color: #fff;
//   font-size: 3rem;
// }
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.wave{
  position: absolute;
  bottom: -12.5rem;
  left: 0;
  height: 11rem;
  width: 100%;
  background: url('C:/Users/ASUS/Desktop/Vbook/static website/vbookStatic/src/assets/images/wave.png');
  background-size: 100rem 11rem;
  animation: waves 8s linear infinite;
  background-repeat: repeat-x;
}
.wave1{
  opacity: .5;
}
.wave2{
  animation-direction: reverse;
  animation-duration: 4s;
  opacity: .1;
}

.wave3{
  animation-duration: 4s;
  opacity: .2;
}
@keyframes waves{
  0%{
      background-position-x: 0;
  }
  100%{
      background-position-x: 100rem;
  }
}


.bg-cream{
  background-color: #1d1c1a;
}

.hero{
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.hero .main{
  display: flex;
  align-items: center;
  padding: 0px 30px;
}
.hero .hero-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .main .hero-content h2{
  font-size: 4rem;
  color: #2f327d;
}
.hero .main .hero-content span{
  // color: #f48c06;
}
.hero .hero-content p{
  font-size: 20px;
}
.hero .hero-content .buttons{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero .hero-content button{
  border: none;
  background-color: #f48c06;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 600;
}
.play{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.play a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.play i{
  font-size: 30px;
  color: #23bdee;
  background-color: #fff;
  padding: 10px 10px 10px 15px;
  border-radius: 50%;
}
.hero .main .img img{
  width: 90%;
}
@media only screen and (max-width: 767px){
  .hero .main{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}
.hero .hero-content{
    text-align: center;
}
.hero .hero-content .buttons{
    display: flex;
    flex-direction: column;
}
.wave{
  margin-bottom: -45px;
}
}
