.home {
  min-height: 50vh;
  width: 100vw;
  background-image: url("C:/Users/ASUS/Desktop/Vbook/static website/vbookStatic/src/assets/images/ourteams.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
}

.home h1 {
  /* color: #002fff; */
  font-weight: 800;
  font-size: 5.5rem;
}

.home h2 {
  color: #02010f;
  font-size: 3rem;
}

.teams-section {
  padding: 80px;
}
.hero {
  display: flex;
  flex-direction: row;
  /* width: 65%; */
  margin: auto;
}
.card-1 {
  margin-right: 40px;
  padding-top: 0;
}
.card-1-heading {
  color: #a5b4fc;
  font-size: 3em;
  padding-bottom: 25px;
}
.card-1-desc {
  color: white;
  font-size: 1.2em;
  margin-bottom: 70px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
.cta {
  color: white;
  background: linear-gradient(#8e86b5, #acaeed);
  padding: 20px 30px;
  font-size: 1.1em;
  border-radius: 50px;
}
.cta:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788ba);
}
@media screen and (max-width: 996px) {
  .hero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 30px;
    padding: 10px;
    width: 85%;
  }
  .hero img {
    order: 1;
    margin-bottom: 40px;
  }
  .hero div {
    order: 2;
    height: auto;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .home p {
    padding: 0 50px 0 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 470px) {
  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: 1.2em;
  }
}
